* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(145, 145, 145);
}

header {
  background-color: #0a1a24;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  height: 70px;
  cursor: pointer;
}

.logo {
  display: flex;
}

.span1 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 37px;
  margin-left: 0.3vw;
  font-family: 'Anton', cursive;
}

.span2 {
  color: #ffc107;
}

.navbar {
  display: flex;
}

.navbar br {
  display: none;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 30px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  transition: color 0.2s ease-in-out;
}

.navbar .home {
  color: #ffc107;
}

.navbar a:hover {
  color: #ffc107;
}

.hero::before {
  content: "";
  background-image: url('https://t3.ftcdn.net/jpg/04/29/35/62/360_F_429356296_CVQ5LkC6Pl55kUNLqLisVKgTw9vjyif1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: -1;
}

.spn2 {
  color: #fdc51b;
}

.hero-content {
  max-width: 700px;
  margin: 15.5vw auto;
  text-align: center;
  color: #000000;
  font-family: 'Anton', sans-serif;
}

.hero-title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #ffc107;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-text {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
  }
}

.whychoose {
  background-color: #0a1a24;
}

.whychoose-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: 'Anton', sans-serif;
}

.whychoose-main {
  font-size: 24px;
  color: #fdc51b;
  text-shadow: 2px 2px 30px rgb(150, 148, 148);
  margin-top: 20px;
}

.pushlimit {
  font-size: 37px;
  color: rgb(238, 238, 238);
}

.whychoose-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
}

.boxes-grid {
  width: 280px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.boxes-grid img {
  width: 79px;
}

.boxes-grid h3 {
  font-size: 24px;
  margin: 17px 0;
  color: rgb(208, 205, 205);
}

.boxes-grid p {
  font-size: 17px;
  line-height: 22px;
  color: rgb(161, 160, 160);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.classes {
  margin-top: 44px;
  font-weight: 100;
  text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}

.classessmall {
  font-weight: 100;
  text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}

.card {
  width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #0a1a24;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.card-image {
  height: 60%;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  height: 40%;
  padding: 20px;
  font-family: 'Anton', sans-serif;
}

.card-small-heading {
  font-size: 18px;
  color: #ffc107;
  font-weight: 100;
  margin-bottom: 10px;
}

.card-big-heading {
  font-size: 24px;
  color: rgb(238, 238, 238);
  margin-bottom: 20px;
  font-weight: 100;
}

.card-text::after {
  content: '\2192';
  font-size: 24px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.card:hover .card-text::after {
  transform: translateX(10px);
  opacity: 1;
}

.register {
  background-image: url(https://www.shutterstock.com/image-photo/strength-exercise-muscular-man-doing-260nw-1409871395.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-top: 50px;
}

.register .fillbg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.register h3 {
  margin-top: 91px;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 55px;
}

.register h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Anton', sans-serif;
  font-weight: 100;
  color: rgb(179, 179, 179);
  font-size: 30px;
  margin: 10px 0;
}

.register .alltext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn2 .anchor {
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 100;
  transition: color 0.3s ease;
}

.btn2 {
  padding: 15px;
  width: 200px;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #ffc107;
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.btn2:hover .anchor {
  color: black;
}

.btn2:hover {
  background-color: #ffc107;
}

.train {
  background-color: #0a1a24;
  margin-top: 50px;
}

.train-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 620px;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Anton', sans-serif;
}

.small-heading {
  color: #ffc107;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 5px;
}

.big-heading {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 10px;
  color: rgb(238, 238, 238);
}

.trainer-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.trainer {
  position: relative;
  margin: 20px 20px 70px 20px;
  border: 5px ridge #715400;
}

.trainer img {
  width: 330px;
  height: 500px;
  object-fit: cover;
}

.trainer-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.trainer .train1 {
  transform: skewY(5deg);
}

.trainer .train2 {
  transform: skewY(-5deg);
}

.trainer-overlay:hover {
  opacity: 1;
}

.trainer-name {
  font-weight: 100;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}

.trainer-title {
  font-weight: 100;
  font-family: 'Anton', sans-serif;
  font-size: 19px;
  color: #ffc107;
}

.address {
  background-color: #06141e;
}

.address-text ul li {
  font-size: 27px;
  color: white;
  list-style: none;
  margin: 38px 0px;
  font-family: 'Anton', sans-serif;
}

.address-text ul li i {
  font-size: 40px;
  color: #ffc107;
  border-radius: 50%;
}

.address-text ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px 142px;
}

footer {
  background-color: black;
  font-family: 'Anton', sans-serif;
  color: white;
}

.footer-columns {
  display: flex;
  justify-content: center;
  padding: 11px 199px 11px 245px;
}

.footer-column {
  margin-top: 20px;
  flex: 1;
  margin-right: 50px;
}

.footer-column .d-flex i {
  color: white;
  margin: 0 5px;
}

.footer-image {
  display: block;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  flex-direction: row;
}

.footer-image-text {
  font-size: 17px;
  color: rgb(192, 192, 192);
}

.footer-heading {
  font-size: 33px;
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 21px;
  color: rgb(192, 192, 192);
}

.footer-line {
  border-top: 2px solid white;
  width: 498px;
  margin: 21px 0;
  opacity: 0.3;
}

.footer-paragraph {
  font-size: 17px;
  margin-bottom: 10px;
  color: rgb(192, 192, 192);
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(192, 192, 192);
}

.copyright span {
  text-align: center;
  margin: 35px 0;
  font-size: 17px;
  font-family: none;
}

.copyright hr {
  width: 74vw;
  opacity: 0.6;
  margin-top: 30px;
}

.copyright .sub {
  color: #ffc107;
}